#pinjam-card{
	height: 100vh;
}

#table-card{
	margin-top: 30px;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


#table-card h2{
	padding: 5px;
}

#table-content{
	height: auto;
}

/* form */

#form-card{
	margin-top: 30px;
	text-align: center;
}

.searchButton{
	display: flex;
}

.searchButton input{
	border-radius: 5px 0 0 5px;
}

.searchButton a{
	border-radius: 0 5px 5px 0;
}

.tombolTambah {
	border-radius: 5px 5px 5px 5px !important;
}